In [2]:
import pandas as pd

# Read dataset

In [6]:
df = pd.read_csv('dataset\student_feedback.csv', index_col=0)

In [7]:
df

,Student ID,Well versed with the subject,Explains concepts in an understandable way,Use of presentations,Degree of difficulty of assignments,Solves doubts willingly,Structuring of the course,Provides support for students going above and beyond,Course recommendation based on relevance
0,340,5,2,7,6,9,2,1,8
1,253,6,5,8,6,2,1,2,9
2,680,7,7,6,5,4,2,3,1
3,806,9,6,7,1,5,9,4,6
4,632,8,10,8,4,6,6,9,9
...,...,...,...,...,...,...,...,...,...
996,55,8,7,6,2,5,7,7,9
997,913,5,5,6,5,6,7,6,1
998,199,9,5,8,3,8,1,1,2
999,539,10,2,7,4,3,4,10,1
1000,759,7,2,4,2,1,5,9,9

In [11]:
df.columns = range(0,9)

In [13]:
df.iloc[0] = [0,1,2,3,4,5,6,7,8]

In [32]:
mask = (df[1] > 9) & (df[4] > 9)

In [33]:
df[mask]

       0   1   2  3   4   5  6  7   8
106   57  10   7  6  10   4  4  2   4
172  787  10  10  5  10   1  9  3   8
272  213  10   8  4  10   1  5  6   2
315  565  10   9  7  10   4  8  5   4
499  920  10   6  7  10  10  2  4   2
548  577  10   7  4  10   7  2  5   1
619  286  10   3  7  10   8  8  4   9
701  951  10  10  7  10   5  9  7   1
797  640  10   9  4  10   2  4  3   1
869  383  10  10  8  10   4  9  3  10